<!DOCTYPE html>
<html lang="en">

<%- include('_head')%>

<body class="landing-page sidebar-collapse">
	<!-- Navbar -->
	<%- include('_menu')%>
	<!-- End Navbar -->
	<div class="wrapper">
		<div class="page-header page-header-small">
			<div class="page-header-image" data-parallax="true"
				style="background-image: url('../assets/img/2019-09-28-5ta-fecha-29-Mutual-Vs-Los-Sauces-26.jpg');">
			</div>
			<div class="content-center">
				<div class="container">
					<img src="../assets/img/favicon.png">
				</div>
			</div>
		</div>
		<div class="section section-about-us">
			<div class="container">
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto text-center">
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<h6 style="align: right;"># Noticia 1 - "Hola soy una notcia"</h6>
								</div>
								<div class="carousel-item">
									<h6 style="align: right;"># Noticia 2 - "Hola soy una notcia"</h6>
								</div>
								<div class="carousel-item">
									<h6 style="align: right;"># Noticia 3 - "Hola soy una notcia"</h6>
								</div>
								<div class="carousel-item">
									<h6 style="align: right;"># Noticia 4 - "Hola soy una notcia"</h6>
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
								data-slide="prev">
								<i class="now-ui-icons arrows-1_minimal-left"></i>
							</a>
							<a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
								data-slide="next">
								<i class="now-ui-icons arrows-1_minimal-right"></i>
							</a>
						</div>
						<h2 class="title">Soy un titulo</h2>
						<h5 class="description">Aqui va un parrafo
						</h5>
					</div>
				</div>
				<div class="separator separator-primary"></div>
				<div class="section-story-overview">
					<div class="row">
						<div class="col-md-6">
							<div class="image-container image-left"
								style="background-image: url('https://33league.uy/wp-content/uploads/2019/08/2019-08-03-Fecha-11-Matecha-Charrua-36-750x350.jpg')">
								<!-- First image on the left side -->
								<p class="blockquote blockquote-primary">"comentario de las imagenes"
									<br>
									<br>
									<small>-Ka'ygua apps-</small>
								</p>
							</div>
							<!-- Second image on the left side of the article -->
							<div class="image-container" style="background-image: url('https://33league.uy/wp-content/uploads/2019/07/2019-07-20-Fecha-10-Mutual-Cual-Hace-18-750x350.jpg')"></div>
						</div>
						<div class="col-md-5">
							<!-- First image on the right side, above the article -->
							<div class="image-container image-right"
								style="background-image: url('https://33league.uy/wp-content/uploads/2019/12/DAG9941-750x350.jpg')"></div>
							<h3>Hola soy otro titulo</h3>
							<p>Soy un parrafo
							</p>
							<p>
								Soy otro parafo
							</p>
							<p>Soy otro parrafo XD
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

				<%- include('_footer')%>
</body>

</html>